{{#partial "contenido"}}
	<div>
		<h1 class="title">Aplicar Indicador</h1>
		<form method="POST" action="/indicadores/aplicar" class="margin-left-10">
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="indicador"><h5>Indicador</h5></label>
					<select id="indicador" class="form-control" name="indicador">
						{{#each indicadores}}
							<option value="{{id}}">{{nombre}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="empresa"><h5>Empresa</h5></label>
					<select id="empresa" class="form-control" name="empresa">
						{{#each empresas}}
							<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group col-md-1">
					<label for="year"><h5>Año</h5></label>
					<input type="number" class="form-control" id="year" value="2017" name="year">
				</div>
				<div class="form-group col-md-1">
					<label for="semester"><h5>Semestre</h5></label>
					<select id="semester" class="form-control" name="semester">
						<option selected>1</option>
						<option>2</option>
					</select>
				</div>
				<div class="form-group col-md-1">
					<button type="submit" class="btn btn-outline-dark" style="margin-top: 37.5%;">Aplicar</button>
				</div>
			</div>
		</form>
		{{#if resultado}}
			<h5 class="placeholder">Resultado: {{resultado}}</h5>
		{{else}}
			{{#if noResult}}
				<h5 class="placeholder">No se puede aplicar el indicador para la empresa y periodo seleccionados</h5>
			{{/if}}
		{{/if}}
	</div>
{{/partial}}
{{>layout.hbs}}