{{#partial "contenido"}}
	<div>
	    <div class="title">
			<h1>Evaluacion de Indicadores</h1>
		</div>		
		<div class="row selector w-75">		
		<h4 class="margin-right-10">Seleccione un Indicador:</h4>
			
		<form action="/indicadores/empresa/{{myselect}}/year/{{year}}/semester/{{semester}}" method="GET" class="placeholder">
			<div class="form-group">
				
				<select id="myselect" name="myselect" value ="{{myselect}}" class="form-control">
					{{#each indicadores}}
						<option value="{{nombre}}">{{nombre}}</option>
					{{/each}}
				</select>
			</div>
		
		</div>

			<div class="form-group">
				
				<select id="myselect2" name="myselect2" value ="{{myselect2}}" class="form-control">
					{{#each empresas}}
						<option value="{{name}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
		
		</div>
		
		
		<div class="form-group">
				<label for="nombre"><h5 class="margin-right-10">Ingrese año:</h5></label>
				<input type="number" name="year">
			</div>
			<div class="form-group">
				<label for="nombre"><h5 class="margin-right-17">Ingrese semestre:</h5></label>
				<input type="number" name="semester">
			</div>
		
		<input class="btn btn-outline-dark" type="submit" value="Aplicar">					

		<button type="button" class="btn btn-success">Volver al Menu</button>
	</div>
{{/partial}}
{{>layout.hbs}}